{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gavin Uhran</title>
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/nav.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/footer.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #687288;">
    <header>
        <div class="nav-container">
            <a href="/">
                <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
            <nav>
                <ul>
                    <li><a class="nav-home" href="/">Home</a></li>
                    <li><a class="nav-projects" href="/projects/">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="profile-wrapper" class="card card-body h-100">
                    {% for profile in profiles %}
                    <img id="profile-pic" src="{{ profile.picture.url }}" alt="Profile Picture">
                    <hr>
                    <h4>Gavin Uhran</h4>
                    <p>{{ profile.description1 }}</p>
                    <p>{{ profile.description2 }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h3>About Me</h3>
                    <hr>
                    {% for aboutMe in aboutMes %}
                    <p>{{ aboutMe.aboutMe1 }}</p>
                    <p>{{ aboutMe.aboutMe2 }}</p>
                    {% endfor %}
                    <h3>Socials</h3>
                    <hr>
                    <ul class="social-links">
                        <li>
                            {% for link in linkedinLinks %}
                            <a href="{{ link.url }}" target="_blank">
                                <img class="social" src="{% static 'images/mediaFiles/linkedin.png' %}" alt="LinkedIn Icon">
                            </a>
                            {% endfor %}
                        </li>
                        <li>
                            {% for link in twitterLinks %}
                            <a href="{{ link.url }}" target="_blank">
                                <img class="social" src="{% static 'images/mediaFiles/twitter.png' %}" alt="Twitter Icon">
                            </a>
                            {% endfor %}
                        </li>
                        <li>
                            {% for link in instagramLinks %}
                            <a href="{{ link.url }}" target="_blank">
                                <img class="social" src="{% static 'images/mediaFiles/instagram.png' %}" alt="Instagram Icon">
                            </a>
                            {% endfor %}
                        </li>
                        <li>
                            {% for link in githubLinks %}
                            <a href="{{ link.url }}" target="_blank">
                                <img class="social" src="{% static 'images/mediaFiles/github.png' %}" alt="Github Icon">
                            </a>
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-100">
                    <div class="projects-header">
                        <h3>Featured GitHub Repositories</h3>
                        <hr>
                    </div>
                    <div class="project-grid-container">
                        {% for project in featuredProjects %}
                        <a class="project-link" href="{{ project.url }}" target="_blank">
                            <div class="project1 project-container">
                                <div class="project-image">
                                    <img class="repo-icon" src="{{ project.thumbnail.url }}" alt="{{ project.title }}">
                                </div>
                                <div class="project-title">
                                    <h5>{{ project.title }}</h5>
                                </div>
                                <div class="project-lang">
                                    <h6>{{ project.lang }}</h6>
                                </div>
                                <div class="project-desc">
                                    <p class="project-desc">{{ project.desc }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body h-75">
                    <footer>
                        <a href="/">
                            <h6 class="footer-text">Return to Top</h6>
                        </a>
                    </footer>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>

</html>