footer {
    padding-bottom: 1%;
    text-align: center;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}
.footer-text {
    font-size: 18px;
    color: #2b2d42;
}
.footer-text:hover {
    font-size: 16px;
    color: #2b2d42;
    padding: 1px;
}