.card {
    background-color: #E3EDF0!important;
}
h3 {
    text-transform: uppercase;
}
h3, h5, h6, p {
    color: #192445;
    font-family: Jost;
}
.projects-list-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto;
    grid-row-gap: 8%;
    align-items: center;
    justify-items: cesnter;
}
.projects-title-container {
    text-align: center;
}
.project {
    height: 10vh;
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: 15% 10% 48% 12%;
    grid-column-gap: 5%;
    align-items: center;
    justify-items: left;
    grid-template-areas:
        "title lang desc update";
}
.project-title {
    grid-area: title;
    padding-left: 5%;
    text-align: left;
    word-wrap: break-word;
}
.project-lang {
    grid-area: lang;
    padding-top: 8%;
    font-style: italic;
    word-wrap: break-word;
}
.project-desc {
    grid-area: desc;
    padding-top: 2%;
    word-wrap: break-word;
}
.project-update {
    grid-area: update;
}
.project-link {
    color: black;
}
.project-link:hover {
    color: black;
    text-decoration: none;
}
.project:hover {
    background-color: #E3EDF0;
    border-radius: 15px;
    box-shadow: 0px 10px 18px #2b2d42;
}